
::after, ::before {
    box-sizing: border-box;
}

body {
    background-color: rgb(204, 255, 255);
    text-align: center;
}

#game-title{
    color: rgb(0, 0, 225);
    font-weight: bold;
}

.grid {
    width: 100vh;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3,auto);
    margin-left: 180px;
}

.box {
    background-color: rgb(102, 178, 255);
    width: 200px;
    height: 200px;
    border: 3px solid black;
}

#player-turn {
    font-weight: bold;
    color:rgb(0, 0, 0)
}

#restartButton {
    padding: 10px;
    font-size: 30px;
    color: blue;
}

#restartButton:hover {
    background-color: aqua;
}


